:root {
    --accent:#3B8686;   
}
@font-face {
    font-family: 'LineIcons';
    src: url('../fonts/LineIcons.eot');
    src: url('../fonts/LineIcons.eot') format('embedded-opentype'), url('../fonts/LineIcons.woff2') format('woff2'), url('../fonts/LineIcons.woff') format('woff'), url('../fonts/LineIcons.ttf') format('truetype'), url('../images/LineIcons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*------------------------
	base class definition
-------------------------*/
.lni {
    display: inline-block;
    font: normal normal normal 1em/1 'LineIcons';
    speak: none;
    text-transform: none;
    /* Better Font Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*------------------------
  change icon size
-------------------------*/
/* relative units */

/* absolute units */

/*----------------------------------
  add a square/circle background
-----------------------------------*/

/*------------------------------------
  use icons as list item markers
-------------------------------------*/

/*------------------------
  spinning icons
-------------------------*/

/*------------------------
  rotated/flipped icons
-------------------------*/

/*------------------------
	icons
-------------------------*/

.lni-bar-chart::before {
    content: "\ea2d";
}

.lni-bolt::before {
    content: "\ea36";
}

.lni-briefcase::before {
    content: "\ea3d";
}

.lni-calendar::before {
    content: "\ea48";
}

.lni-chevron-up::before {
    content: "\ea5e";
}

.lni-clipboard::before {
    content: "\ea62";
}

.lni-invention::before {
    content: "\eaf4";
}

.lni-layers::before {
   content: "\eb06"; 

   
}

.lni-layout::before {
    content: "\eb07";
}

.lni-target-revenue::before {
    content: "\ebb7";
}

@charset "UTF-8";

/*!
 * Bootstrap v5.0.0-beta1 (https://getbootstrap.com/)
 * Copyright 2011-2020 The Bootstrap Authors
 * Copyright 2011-2020 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg,
            rgba(255, 255, 255, 0.15),
            rgba(255, 255, 255, 0));
}

*,
::after,
::before {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

h2,
h3,
h4,
h5 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h2 {
    font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {

    h2 {
        font-size: 2rem;
    }
}

h3 {
    font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {

    h3 {
        font-size: 1.75rem;
    }
}

h4 {
    font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {

    h4 {
        font-size: 1.5rem;
    }
}

h5 {
    font-size: 1.25rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    padding-left: 2rem;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #0d6efd;
    text-decoration: underline;
}

a:hover {
    color: #0a58ca;
}

img {
    vertical-align: middle;
}

button {
    border-radius: 0;
}

button:focus {
    outline: dotted 1px;
    outline: -webkit-focus-ring-color auto 5px;
}

button,
input,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    text-transform: none;
}

[type="button"],
button {
    -webkit-appearance: button;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

textarea {
    resize: vertical;
}

::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-year-field {
    padding: 0;
}

::-webkit-inner-spin-button {
    height: auto;
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::file-selector-button {
    font: inherit;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {

    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {

    .container {
        max-width: 1320px;
    }
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y);
}

@media (min-width: 576px) {

    .col-sm-10 {
        flex: 0 0 auto;
        width: 83.3333333333%;
    }
}

@media (min-width: 768px) {

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 58.3333333333%;
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: 83.3333333333%;
    }
}

@media (min-width: 992px) {

    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

.form-control[type="file"]:not(:disabled):not([readonly]) {
    cursor: pointer;
}

.form-control::file-selector-button {
    padding: 0.375rem 0.75rem;
    margin: -0.375rem -0.75rem;
    -webkit-margin-end: 0.75rem;
    margin-inline-end: 0.75rem;
    color: #212529;
    background-color: #e9ecef;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .form-control::file-selector-button {
        transition: none;
    }
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: #dde0e3;
}

.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
    background-color: #dde0e3;
}

.form-control-sm::file-selector-button {
    padding: 0.25rem 0.5rem;
    margin: -0.25rem -0.5rem;
    -webkit-margin-end: 0.5rem;
    margin-inline-end: 0.5rem;
}

.form-control-lg::file-selector-button {
    padding: 0.5rem 1rem;
    margin: -0.5rem -1rem;
    -webkit-margin-end: 1rem;
    margin-inline-end: 1rem;
}

.form-control-color:not(:disabled):not([readonly]) {
    cursor: pointer;
}

.form-floating>.form-control:not(:-moz-placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}

.form-floating>.form-control:not(:-moz-placeholder-shown)~label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.collapse:not(.show) {
    display: none;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-collapse {
    align-items: center;
    width: 100%;
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
    }
}

.visually-hidden-focusable:not(:focus) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.d-flex {
    display: flex !important;
}

.d-none {
    display: none !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.align-items-center {
    align-items: center !important;
}

.ms-auto {
    margin-left: auto !important;
}

.text-center {
    text-align: center !important;
}

@media (min-width: 576px) {

    .d-sm-flex {
        display: flex !important;
    }
}

@media (min-width: 992px) {

    .d-lg-flex {
        display: flex !important;
    }
}

@media (min-width: 1200px) {

    .d-xl-block {
        display: block !important;
    }
}

/* Deafult Margin & Padding */
/*-- Margin Top --*/

.mt-30 {
    margin-top: 30px;
}

.mt-60 {
    margin-top: 60px;
}

/*-- Margin Bottom --*/

/*-- margin left --*/

/*-- margin right --*/


/*-- Padding Top --*/

.pt-120 {
    padding-top: 120px;
}

.pt-130 {
    padding-top: 130px;
}

/*-- Padding Bottom --*/

.pb-25 {
    padding-bottom: 25px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-130 {
    padding-bottom: 130px;
}

/*-- Padding left --*/

/*-- Padding right --*/

/* Background Color */

/* Color */

/* black overlay */
/*-----------------------------------------------------------------------------------

    Template Name: Simple
    Author: UIdeck
    Author URI: uideck.com
    Version: 1.0

-----------------------------------------------------------------------------------

    CSS INDEX
    ===================

    01. Theme default CSS
	02. Header
    03. Hero
	04. Footer

-----------------------------------------------------------------------------------*/
/*===========================
    01.COMMON css 
===========================*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #5A5872;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover {
    text-decoration: none;
}

i,
span,
a {
    display: inline-block;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

h2,
h3,
h4,
h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #2B2A3D;
    margin: 0px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #5A5872;
    margin: 0px;
}

.bg_cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

/*===== All Button Style =====*/
.main-btn {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 0;
    padding: 0 40px;
    font-size: 16px;
    height: 55px;
    line-height: 55px;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    z-index: 5;
    transition: all 0.4s ease-out 0s;
    background-color: var(--accent);
}

.main-btn:hover {
    background-color: #ff6b6b;
    color: #fff;
}

/*===== All Section Title Style =====*/
.section_title .title {
    font-size: 40px;
    font-weight: 700;
}

@media (max-width: 767px) {
    .section_title .title {
        font-size: 26px;
    }
}

.section_title p {
    margin-top: 15px;
    font-size: 18px;
    color: #9e9db3;
}

.section_title.section_title_2 .title,
.section_title.section_title_2 p {
    color: #fff;
}

/*===== All Preloader Style =====*/

/* Preloader Animations */

/*===========================
     02.HEADER css 
===========================*/
/*===== NAVBAR =====*/
.header_navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.3s ease-out 0s;
}

.navbar {
    padding: 20px 0;
    border-radius: 5px;
    position: relative;
    transition: all 0.3s ease-out 0s;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    width: 150px;
}

@media (max-width: 767px) {
    .navbar-brand img {
        width: 130px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 9;
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        padding: 5px 12px;
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 9;
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        padding: 5px 12px;
    }
}

.navbar-nav .nav-item {
    position: relative;
    margin-left: 40px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar-nav .nav-item {
        margin-left: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item {
        margin: 0;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item {
        margin: 0;
    }
}

.navbar-nav .nav-item a {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    transition: all 0.3s ease-out 0s;
    padding: 10px 0;
    position: relative;
}

.navbar-nav .nav-item a::before {
    position: absolute;
    content: '';
    bottom: 0px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item a::before {
        display: none;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item a::before {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item a {
        display: block;
        padding: 4px 0;
        color: #222;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item a {
        display: block;
        padding: 4px 0;
        color: #222;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .navbar-nav .nav-item a:hover {
        color: var(--accent);
    }
}

@media (max-width: 767px) {

    .navbar-nav .nav-item a:hover {
        color: var(--accent);
    }
}

.navbar-nav .nav-item a:hover::before {
    width: 100%;
}

/*===== hero =====*/
.single_hero {
    height: 750px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

@media only screen and (min-width: 1400px) {
    .single_hero {
        height: 950px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single_hero {
        height: 700px;
    }
}

@media (max-width: 767px) {
    .single_hero {
        height: 650px;
    }
}

.single_hero::before {
    position: absolute;
    content: '';
    background-color: rgba(59, 134, 134, 0.7);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.hero_content {
    padding-top: 50px;
}

.hero_content .hero_title {
    font-size: 60px;
    line-height: 85px;
    color: #fff;
    margin-top: 15px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero_content .hero_title {
        font-size: 44px;
        line-height: 65px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero_content .hero_title {
        font-size: 40px;
        line-height: 60px;
    }
}

@media (max-width: 767px) {
    .hero_content .hero_title {
        font-size: 24px;
        line-height: 38px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .hero_content .hero_title {
        font-size: 40px;
        line-height: 60px;
    }
}

.hero_content p {
    font-size: 16px;
    color: #fff;
    margin-top: 30px;
}

@media (max-width: 767px) {
    .hero_content p {
        font-size: 16px;
    }
}

.hero_content .main-btn {
    margin-top: 45px;
}

/*===========================
      03.FEATURES css 
===========================*/
.single_features i {
    font-size: 60px;
    line-height: 60px;
    color: var(--accent);
    transition: all 0.3s ease-out 0s;
}

@media (max-width: 767px) {
    .single_features i {
        font-size: 40px;
        line-height: 45px;
    }
}

.single_features .features_title {
    color: var(--accent);
    margin-top: 15px;
    font-size: 24px;
    font-weight: 600;
    transition: all 0.3s ease-out 0s;
}

@media (max-width: 767px) {
    .single_features .features_title {
        font-size: 24px;
    }
}

.single_features p {
    margin-top: 15px;
}

.single_features:hover i {
    color: var(--accent);
}

/*===========================
      04.ABOUT css 
===========================*/
.about_area {
    background-color: #F9F9F9;
    position: relative;
}

.about_image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about_image {
        width: 100%;
        height: 500px;
        position: relative;
    }
}

@media (max-width: 767px) {
    .about_image {
        width: 100%;
        height: 400px;
        position: relative;
    }
}

.about_image .image_content {
    width: 185px;
    height: 185px;
    background-color: var(--accent);
    display: table;
    text-align: center;
    /* position: relative; */
    left: -92px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about_image .image_content {
        width: 135px;
        height: 135px;
        left: -78px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about_image .image_content {
        left: 0;
    }
}

@media (max-width: 767px) {
    .about_image .image_content {
        left: 0;
        width: 135px;
        height: 135px;
    }
}

.about_image .image_content .experience {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    display: table-cell;
    vertical-align: middle;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about_image .image_content .experience {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .about_image .image_content .experience {
        font-size: 18px;
    }
}

.about_image .image_content .experience span {
    font-size: 44px;
    font-weight: 700;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about_image .image_content .experience span {
        font-size: 36px;
    }
}

@media (max-width: 767px) {
    .about_image .image_content .experience span {
        font-size: 36px;
    }
}

.about_content {
    padding-right: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about_content {
        padding-right: 0;
    }
}

@media (max-width: 767px) {
    .about_content {
        padding-right: 0;
    }
}

.about_content .main-btn {
    margin-top: 30px;
}

/*===========================
      05.PORTFOLIO css 
===========================*/
.single_portfolio {
    position: relative;
    width: 25%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single_portfolio {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .single_portfolio {
        width: 100%;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .single_portfolio {
        width: 50%;
    }
}

.single_portfolio img {
    width: 100%;
}

.single_portfolio::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 134, 134, 0.7);
    /* background-color: rgba(232, 78, 78, 0.9); */
    opacity: 0;
    transition: all 0.3s ease-out 0s;
}

.single_portfolio .portfolio_content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}

.single_portfolio .portfolio_content .portfolio_title {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin-top: 25px;
    transform: translateY(100%);
    transition: all 0.3s ease-out 0s;
    opacity: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single_portfolio .portfolio_content .portfolio_title {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .single_portfolio .portfolio_content .portfolio_title {
        font-size: 20px;
    }
}

.single_portfolio:hover::before {
    opacity: 1;
}

.single_portfolio:hover .portfolio_content .portfolio_title {
    transform: translateX(0);
    transition-delay: 0.2s;
    opacity: 1;
}

/*===========================
      06.PRICING css 
===========================*/
.pricing_area {
    background-color: #F9F9F9;
}

.single_pricing {
    background-color: #fff;
    padding: 60px 50px;
}

@media (max-width: 767px) {
    .single_pricing {
        padding: 40px 30px;
    }
}

.single_pricing .pricing_title {
    font-size: 24px;
    font-weight: 600;
}

@media (max-width: 767px) {
    .single_pricing .pricing_title {
        font-size: 20px;
    }
}

.single_pricing .price {
    color: var(--accent);
    font-size: 44px;
    margin-top: 25px;
    font-weight: 700;
}

@media (max-width: 767px) {
    .single_pricing .price {
        font-size: 38px;
    }
}

.single_pricing .pricing_list li {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 300;
}

.single_pricing .mian-btn {
    height: 45px;
    border: 1px solid #5A5872;
    line-height: 43px;
    text-align: center;
    padding: 0 25px;
    color: var(--accent);
    transition: all 0.3s ease-out 0s;
    margin-top: 30px;
}

.single_pricing .mian-btn:hover {
    background-color: rgba(90, 88, 114, 0.2);
}

.single_pricing.active {
    background-color: var(--accent);
}

.single_pricing.active .pricing_title {
    color: #fff;
}

.single_pricing.active .price {
    color: #fff;
}

.single_pricing.active .pricing_list li {
    color: #fff;
}

.single_pricing.active .mian-btn {
    background-color: #fff;
    border-color: #fff;
}

/*===========================
        07.TEAM css 
===========================*/
.single_team {
    position: relative;
}

.single_team img {
    width: 100%;
}

.single_team .team_content {
    position: absolute;
    background-color: #fff;
    left: 0;
    bottom: 0;
    width: 85%;
    padding: 25px;
    padding-right: 60px;
}

.single_team .team_content p {
    margin-top: 5px;
}

/*===========================
     08.TESTIMONIAL css 
===========================*/
.testimonial_area {
    position: relative;
}

.testimonial_area::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(43, 42, 61, 0.9);
}

.testimonial_active_wrapper {
    position: relative;
    padding-bottom: 60px;
}

.single_testimonial img {
    display: inline-block;
    border-radius: 50%;
}

@media (max-width: 767px) {
    .single_testimonial img {
        width: 120px;
    }
}

.single_testimonial .author_name {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-top: 25px;
}

.single_testimonial span {
    font-size: 14px;
    color: #fff;
}

.single_testimonial p {
    color: #fff;
    margin-top: 15px;
}

/*===========================
    09.BLOG css 
===========================*/
.single_blog .blog_image img {
    width: 100%;
}

.single_blog .blog_content {
    margin-top: 25px;
}

.single_blog .blog_content p {
    margin-top: 15px;
}

.single_blog.blog_2 .blog_content {
    margin-top: 0;
    padding-left: 20px;
}

@media (max-width: 767px) {
    .single_blog.blog_2 .blog_content {
        padding-left: 0;
        padding-top: 20px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .single_blog.blog_2 .blog_content {
        padding-left: 20px;
        padding-top: 0;
    }
}

.single_blog.blog_2 .blog_content p {
    margin-top: 15px;
}

/*===========================
    10.CONTACT css 
===========================*/
.contact_area {
    position: relative;
    z-index: 5;
}

.contact_area::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(43, 42, 61, 0.9); */
    z-index: -1;
}

.single_form {
    margin-top: 30px;
}

.single_form input,
.single_form textarea {
    width: 100%;
    height: 55px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 0 25px;
    font-size: 16px;
    color: #fff;
    background: none;
    transition: all 0.3s ease-out 0s;
}

.single_form input:focus,
.single_form textarea:focus {
    border-color: #fff;
}

.single_form textarea {
    height: 170px;
    resize: none;
    padding-top: 15px;
}

/*===========================
    11.FOOTER css 
===========================*/
.footer_area {
    background-color: var(--accent);
    padding-top: 15px;
    padding-bottom: 30px;
}

.credit {
    font-size: 16px;
    color: #fff;
    padding-top: 15px;
}

/*===== BACK TO TOP =====*/
.back-to-top {
    font-size: 20px;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: var(--accent);
    text-align: center;
    z-index: 99;
    transition: all 0.3s ease-out 0s;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
}

.back-to-top:hover {
    color: #fff;
    background-color: var(--accent);
}
